button {
    width: 50px;
    height: 50px;
    margin-bottom: 3px;
    background: #ccc;
}

#numero {
    width: 208px;
    height: 30px;
    margin-bottom: 6px;
}

input {
    text-align: right;
}

#mostrar {
    width: 35px;
    height: 35px;
}